  
header{
    background-color: Pink;
    text-align: center;
    height: 120px;
  }
  body{
    background-color: LightBlue;
  }
  p{
    font-family: Verdana;
  }
  /*Table start*/
  table{
    position: relative;
    left: 450px;
    bottom: 220px;
    width: 800px;
    border-collapse: collapse;

  }
  th{
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 7px;
  }
  td{
    padding: 7px;
    border: 1px solid;
    border-collapse: collapse;
  }
  td{
     text-align: right;
  }
  tr.even{
    background-color: #E6E6E6;
  }
  tr{
    padding: 7px;
    border: 1px solid;
    vertical-align: baseline;
  
  }
  #addButton:hover {
    background-color: #666666;
  }
  body#salesBG{
    background-color: white;
  /* }
  figure img#salmon-logo{
   display: block;
    margin: 0px auto;
    width: 400px;
  } */

  /* div#hours li{
    padding: 8px;
    color: Blue;
    font-family:'Special Elite', cursive;
  
  } */
}
  div#sgInfo{
    width: 800px;
    background-color: white;
    padding: 15px;
    overflow: scroll;
    height: 400px;
  }
  div#merch{
  position: relative;
  bottom: 400px;
  }
  p#green{
    font-family: Times, serif;
    color: Green;
  }
  p#blue{
    font-family: Times, serif;
    color: Blue;
  }
  p#serif{
    font-family: Times, serif;
    color: #666699;
  }
  h2{
    font-family:'Special Elite', cursive;
    color: DarkRed;
  }
 div{
     text-align: center;
 }