  
header{
    background-color: wheat;
    text-align: center;
    height: 400px;
    width: 100;

  }
  
  #logo {
    background-image: url(https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png);
    left: 200px;
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
  }
  body{
    background-color: brown;
  }
  p{
    font-family: Verdana;
  }
  
  table{
  
    width: 70%;
    text-align: center;
    margin: auto;
    border-spacing: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }
  th{
    border-top: 2px solid;
    border-bottom: 10px solid;
    padding: 7px;
  }
  td{
    padding: 10px;
    border: 1px solid;
  }
  td{
     text-align: center;
  }
  tr.even{
    background-color: #E6E6E6;
  }
  tr{
    padding: 50px;
   
    border: 1px solid;
    vertical-align:inherit;
  
  }
#menu {
    text-align: left;
    color: black;
   margin: 12px;
}
footer { background-color:wheat; 
    text-align: center;
    height: 55px;
}





  